body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000;
}

.hero h1 {
  font-size: 3rem;
  color: #d4af37;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.hero button {
  padding: 10px 20px;
  background: #d4af37;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
